.font-bold {
  font-weight: $bold;
}

.font-medium {
  font-weight: $medium;
}

body {
  font-family: CeraPro;
}

//форма в модале

.modal-form {
  display: none;
}

.modal-form-content {
  background-color: #fff;
  margin: 5% auto;
}

.modal-form-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: -50;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  z-index: 1;
  .modal-form-content {
    max-width: 790px;
    min-height: 546px;
  }
}

.modal-form-wrapper {
  // display: block;
  // border: 1px solid rgba(0, 0, 0, 0.3);
  // box-sizing: border-box;
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // background: rgba(255, 255, 255, 0.4);
  // backdrop-filter: blur(40px);
}

.modal-form-title {
  text-align: center;
  margin-bottom: 44px;
  padding-top: 60px;
  font-size: 24px;
}

.modal-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-field {
  border: 0px;
  border-bottom: 0.7px solid #000000;
  margin-bottom: 40px;
  font-size: 16px;
}

.form-button {
  padding: 7px 55px;
  background-color: #f45050;
  color: #fff;
  border: 0px;
}

.warning-form {
  text-align: center;
  margin-top: 16px;
}

.warning-form-style {
  color: #f45050;
  text-decoration: underline;
}

.close-modal-form {
  position: relative;
  justify-content: flex-end;
  display: flex;
  top: 32px;
  right: 32px;
}
//форма в модале

//начало

.modal {
  display: none;
}

.modal-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  z-index: 1;
  .modal-wrapper {
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-title {
  font-size: 24px;
  margin-top: 56px;
}

.modal-header {
  font-size: 18px;
  margin-top: 38px;
}

.modal-content {
  font-size: 18px;
  margin-top: 24px;
  padding-left: 56px;
  padding-right: 112px;
}

.modal-footer {
  padding-left: 56px;
}

.modal-footer-title {
  font-size: 18px;
  margin-top: 55px;
}

.modal-footer-content {
  font-size: 18px;
  margin-top: 25px;
}

.modal-button {
  background-color: #f45050;
  color: #fff;
  padding: 7 63;
  margin-bottom: 32px;
  margin-top: 40px;
  display: block;
  text-align: center;
  margin-left: 179px;
  margin-right: 179px;
}

.close-modal {
  position: absolute;
  top: 32px;
  right: 32px;
}
//конец

//попап цены

.popup-container {
  backdrop-filter: blur(40px);
}

.active-popup {
  display: block;
  min-height: 642px;
  position: fixed;
  margin-left: 416;
  margin-top: 129px;
  background-color: white;
  padding-left: 56px;
  padding-top: 56px;
  padding-right: 100px;
  background: blur(40px);
}

.popup-header {
  font-size: 24px;
  margin-bottom: 38px;
}

.popup-body {
  margin-bottom: 38px;
  font-size: 18px;
}

.popup-body-item {
  margin-bottom: 24px;
  font-size: 18px;
}

.popup-body-item-last {
  margin-bottom: 55px;
  font-size: 18px;
}

.popup-footer {
  margin-bottom: 23px;
  font-size: 18px;
}

.popup-footer-item {
  margin-bottom: 25px;
  font-size: 18px;
}

.popup-footer-item-last {
  font-size: 18px;
}

.prise-style_1 {
  margin-left: 147px;
  font-size: 18px;
  color: #f45050;
}

.prise-style_2 {
  margin-left: 141px;
  font-size: 18px;
  color: #f45050;
}

.prise-style_3 {
  margin-left: 132px;
  font-size: 18px;
  color: #f45050;
}

.prise-style_4 {
  margin-left: 171px;
  font-size: 18px;
  color: #f45050;
}

.prise-style_5 {
  margin-left: 76px;
  font-size: 18px;
  color: #f45050;
}

.popup-icon-close {
  position: absolute;
  right: 32px;
  top: 32px;
}
//попап цены

//start header

.header-wrapper {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 64px;
  background-image: url(../../src/images/img/intro-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 25px;
    background-image: url(../../src/images/img/mobile-header.png);
    padding-bottom: 58px;
    max-width: 100%;
    background-size: cover;
  }
  @include tablet {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }
}

.top {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  @include mobile {
    display: flex;
    align-items: baseline;
  }
}

.socials {
  display: flex;
  @include mobile {
    padding-left: 20px;
  }
}

.instagram {
  margin-left: 20px;
}

.telegram {
  margin-left: 20px;
}

.header-list {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: auto;
  margin-right: 4px;
  white-space: nowrap;
  @include mobile {
    display: none;
    flex-direction: column;
    //   &.menu_icon_open {
    //     display: none;
    //     @include mobile {
    //       display: flex;
    //     }
    //   }
  }
  @include tablet {
    padding-left: 0px;
  }
}

.menu_icon_open {
  display: none;
  @include mobile {
    display: block;
  }
}

.header-item {
  margin-right: 40px;
}

.button-link {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 9px 24px;
}

.intro {
  margin-top: 460px;
  @include mobile {
    margin-top: 334px;
  }
  @include tablet {
    margin-top: 400px;
  }
}

.intro-title {
  color: white;
  font-size: 80px;
  line-height: 96px;
  @include mobile {
    font-size: 40px;
    line-height: 48px;
  }
  @include tablet {
  }
}

.into-text {
  color: white;
  font-size: 28px;
  @include mobile {
    font-size: 24px;
  }
}

.mobile-header-button-link {
  display: none;
  @include mobile {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #f45050;
    padding: 13px 0px;
    margin-left: 16px;
    margin-top: 24px;
    text-align: center;
    max-width: 343px;
    width: 100%;
  }
}

.mobile-header-button {
  @include mobile-s {
    margin-right: 30px;
  }
}

//end header

//start body

.info-picture {
  background-size: cover;
  @include mobile {
    margin-top: 0px;
    display: none;
  }
}

.mobile-info-picture {
  display: none;
  @include mobile {
    margin-top: 0px;
    display: block;
    position: relative;
    width: 100%;
  }
}

.body-info {
  display: flex;
  margin-top: 204px;
  @include mobile {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
}

.body-info-text {
  margin-left: 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mobile {
    margin-top: 0px;
    margin-left: 0px;
  }
  @include tablet {
    margin-top: 0px;
    margin-left: 10px;
  }
}

.heading-text {
  font-family: CeraPro;
  font-size: 32px;
  margin-bottom: 40px;
  @include mobile {
    margin-top: 0px;
    margin-bottom: 0px;
    width: inherit;
  }
  @include tablet {
    width: inherit;
  }
}

.intro-body-text {
  color: #f45050;
  margin-bottom: 14px;
}

.content-body-text {
  font-size: 20px;
  margin-bottom: 58px;
}

.outro-list {
  font-size: 16px;
}

.outro-item {
  margin-bottom: 12px;
}

//end body

//для картинок в центре сайта

.site-picture-1 {
  max-width: 100%;
  margin-top: 204px;
}

.site-picture-2 {
  max-width: 100%;
}

.site-picture-3 {
  max-width: 100%;
}

.site-picture-4 {
  max-width: 100%;
}

.site-picture-5 {
  max-width: 100%;
}

.site-picture-6 {
  max-width: 100%;
}

.site-picture {
  @include mobile {
    display: none;
  }
}

.mobile-site-picture {
  display: none;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}
// конец картинок

//блок отзывов начало
.review-header {
  display: flex;
  justify-content: space-between;
  padding-top: 109px;
  padding-left: 165px;
  padding-right: 107px;
  font-size: 32px;
  @include mobile {
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
  }
}

.review-body {
  display: flex;
  align-items: center;
  margin-top: 56px;
  @include mobile {
    margin-top: 10px;
  }
}

.review-body-intro {
  padding-left: 40px;
  @include mobile {
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 25px;
  }
}

.review-intro-content {
  margin-left: 16px;
  font-size: 18px;
}

.review-body-content {
  margin-top: 16px;
  font-family: CeraPro;
  font-size: 16px;
}

.instagram-style {
  color: #f45050;
  text-decoration: underline;
  margin-top: 5px;
}

.vk-style {
  color: #f45050;
  text-decoration: underline;
  margin-top: 5px;
}
//блок отзывов конец

//подвал начало
.footer-item {
  @include tablet {
    margin-top: 32px;
  }
}

.review-footer-title {
  padding-left: 165px;
  @include mobile {
    text-align: center;
    padding-left: 0px;
    margin-top: 40px;
  }
  @include tablet {
    padding-left: 0px;
  }
}

.search-form-info {
  display: flex;
  padding-top: 40px;
  @include mobile {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 0px;
  }
}

.search-form-field {
  border: 0px;
  border-bottom: 0.7px solid #000000;
  margin-right: 40px;
  outline: none;
  @include mobile {
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
  }
}

.search-field-button {
  padding: 8px 50px;
  background-color: #f45050;
  color: white;
  border: 0;
  @include mobile {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.review-content {
  padding-top: 24px;
  padding-left: 165px;
  @include mobile {
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
  }
}

.warning {
  color: #f45050;
  text-decoration: underline;
}

//подвал конец

//бургер начало

.menu {
  display: none;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateX(100%);
  transition: transform 0.5s linear;
  background-color: #fff;
  //background-image: url(../../src/images/img/burger-active.svg);

  &.active {
    transform: unset;
    //background-image: url(../../src/images/img/burger-active.svg);
    //background-repeat: no-repeat;
    //background-position: 96% 3%;
  }
  @include mobile {
    display: flex;
  }

  .menu_icon_close {
    position: absolute;
    right: 32px;
    top: 32px;
  }

  .menu_icon_open {
    position: absolute;
    right: 32px;
    top: 32px;
  }
}

.menu-list {
  list-style-type: none;
  font-size: 24px;
  padding-left: 0px;
  margin-left: 40px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  margin-bottom: 32px;
}

.menu-email {
  text-decoration: underline;
  margin-bottom: 32px;
}

.menu-tel {
  margin-bottom: 32px;
}

.menu-socials {
  display: flex;
  padding-left: 0px;
}

.whatsapp-menu {
  margin-right: 18px;
}

.instagram-menu {
  margin-right: 18px;
}

.menu-button {
  text-decoration: none;
  list-style-type: none;
  padding: 13px 85px;
  background-color: red;
  margin-top: 123px;
  font-size: 22px;
  color: white;
  @include mobile-s {
    margin-right: 33px;
  }
}

//бургер конец

.swiper-wrapper {
  margin-top: 400px;
  display: flex;
}

//конец подвала

.footer-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 165px;
  padding-right: 165px;
  margin-top: 205px;
  padding-bottom: 64px;
  @include tablet {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer-list {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: auto;
  margin-right: 4px;
  white-space: nowrap;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.footer-item {
  margin-right: 40px;
}

.footer-button-link {
  padding: 9px 24px;
  background-color: #f45050;
  color: #fff;
  text-decoration: none;
  @include tablet {
    display: none;
  }
}

.social-footer {
  display: flex;
  @include tablet {
    justify-content: center;
    display: flex;
  }
}

.instagram-footer {
  margin-left: 20px;
}

.telegram-footer {
  margin-left: 20px;
}
//конец подвала

//слайдер начало
.slick-prev {
  background-image: url(../../src/images/img/prev-slide.svg);
  background-repeat: no-repeat;
  border: 0;
  color: white;
  background-color: white;
  padding-left: 44px;
  margin-left: 107px;
  @include mobile {
    margin-left: 50px;
  }
}

.slick-next {
  background-image: url(../../src/images/img/next-slide.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 90%;
  bottom: 97.5%;
  color: white;
  background-color: white;
  //padding-right: 44px;
  border: 0;
  @include mobile {
    left: 80%;
    bottom: 97.3%;
  }
}

.slick-slide {
  height: 100%;
}

.slide-1 {
  max-width: 100%;
}

.slide-2 {
  max-width: 100%;
}

.slide-3 {
  max-width: 100%;
}

.slide-4 {
  max-width: 100%;
}
//слайдер конец
