@font-face {
    font-family: 'Cera Round Pro DEMO';
    src: url('CeraRoundProDEMO-Medium.eot');
    src: url('CeraRoundProDEMO-Medium.eot?#iefix') format('embedded-opentype'),
        url('CeraRoundProDEMO-Medium.woff2') format('woff2'),
        url('CeraRoundProDEMO-Medium.woff') format('woff'),
        url('CeraRoundProDEMO-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro DEMO';
    src: url('CeraRoundProDEMO-Bold.eot');
    src: url('CeraRoundProDEMO-Bold.eot?#iefix') format('embedded-opentype'),
        url('CeraRoundProDEMO-Bold.woff2') format('woff2'),
        url('CeraRoundProDEMO-Bold.woff') format('woff'),
        url('CeraRoundProDEMO-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro DEMO';
    src: url('CeraRoundProDEMO-Light.eot');
    src: url('CeraRoundProDEMO-Light.eot?#iefix') format('embedded-opentype'),
        url('CeraRoundProDEMO-Light.woff2') format('woff2'),
        url('CeraRoundProDEMO-Light.woff') format('woff'),
        url('CeraRoundProDEMO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro DEMO';
    src: url('CeraRoundProDEMO-Thin.eot');
    src: url('CeraRoundProDEMO-Thin.eot?#iefix') format('embedded-opentype'),
        url('CeraRoundProDEMO-Thin.woff2') format('woff2'),
        url('CeraRoundProDEMO-Thin.woff') format('woff'),
        url('CeraRoundProDEMO-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro DEMO';
    src: url('CeraRoundProDEMO-Regular.eot');
    src: url('CeraRoundProDEMO-Regular.eot?#iefix') format('embedded-opentype'),
        url('CeraRoundProDEMO-Regular.woff2') format('woff2'),
        url('CeraRoundProDEMO-Regular.woff') format('woff'),
        url('CeraRoundProDEMO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

