@include font-face("CeraPro", "../../src/fonts/CeraRoundProDEMO-Regular", $regular, normal);
@include font-face("CeraPro", "../../src/fonts/CeraRoundProDEMO-Bold", $bold, normal);
@include font-face("CeraPro", "../../src/fonts/CeraRoundProDEMO-Light", $light, normal);
@include font-face("CeraPro", "../../src/fonts/CeraRoundProDEMO-Medium", $medium, normal);
@include font-face("CeraPro", "../../src/fonts/CeraRoundProDEMO-Thin", $thin, normal);

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 15px;
}
