@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path+".woff") format("woff"), url($path+".woff2") format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin mobile {
  @media (max-width:768px){
    @content
  }
}

@mixin tablet {
  @media (max-width: 1024px){
    @content
  }
}

@mixin medium {
  @media (max-width:776px){
    @content
  }
}

@mixin mobile-s {
  @media (max-width:321px){
    @content
  }
}

@mixin max-size {
  @media (max-width:2549px){
    @content
  }
}

