- var title = 'title'

//- layout.pug
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Архитектурная студия
    meta(name="description" content="The HTML5 Herald")
    block scripts
      script(src='../../js/index.js')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
  body
    block content
    block foot
      #footer
      